html {
  height: 100%;
  width: 100%;
  background-color: #d7dce5ff;
}

.box {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f9e5ff;
}

.box button {
  background-color: #9c5bec;
  color: #ffff;
  border: none;
  padding: 5px;
  cursor: pointer;
}